[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"

[packages]
sqlalchemy = "*"
pyodbc = "*"
pusher = "*"
hug = "*"
requests = "*"
pymssql = "*"

[requires]
python_version = "3.7"

[scripts]
serve="python hypercube/__init__.py"

[pipenv]
allow_prereleases = true
